<script lang="ts">
import Vue from "vue";
// Uncomment import and local "components" registration if library is not registered globally.
import { ByggForm } from "@/entry.esm";

export default Vue.extend({
  name: "ServeDev",
  components: {
    ByggForm,
  },
  methods: {

  },
});
</script>

<template>
  <div id="app">
    <ByggForm
      v-model="model"
      type="update"
      redirect-route="users"
      :serializers="{
        update: updateSerializer,
      }"
      :actions="{ update: () => {}, fetch: () => {}) }"
    />
  </div>
</template>
