<template>
  <v-alert
    width="100%"
    border="left"
    colored-border
    :dismissible="dismissible"
    :type="type"
    :elevation="elevation"
    :value="true"
  >
    {{ text }}
  </v-alert>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { VAlert } from "vuetify/lib";

@Component({
  components: { VAlert },
})
// @vuese
export default class ByggAlert extends Vue {
  @Prop({ required: true }) readonly text!: string;

  // `'success'` / `'info'` / `'warning'` / `'error'`
  @Prop({ required: true }) readonly type!: string;

  @Prop({ default: false }) readonly dismissible!: boolean;

  @Prop({ default: 0 }) readonly elevation!: number;
}
</script>

<style scoped>
.v-alert {
  background-color: #fcfcfc;
}
</style>
