<template>
  <ValidationProvider v-slot="{ errors }" mode="lazy" :name="fieldLabel" :rules="settings.rules">
    <component :is="componentName" v-model="fieldValue" :disabled="disabled" :settings="settings" :errors="errors" />
  </ValidationProvider>
</template>

<script lang="ts">
import { Component, InjectReactive, Prop, Vue } from "vue-property-decorator";
import { ValidationProvider } from "vee-validate";
import { mask } from "vue-the-mask";
import {
  ColorPickerField,
  ImageUploadField,
  SelectField,
  CheckboxField,
  TextField,
  AutocompleteField,
} from "@/lib-components/fields";
import FormService from "@/utils/form-service";
import FieldService from "@/utils/field-service";
import { FieldSettings } from "../types/form";

@Component({
  components: {
    ValidationProvider,
    ColorPickerField,
    ImageUploadField,
    SelectField,
    CheckboxField,
    TextField,
    AutocompleteField,
  },
  directives: { mask },
})
export default class ByggField extends Vue {
  @Prop({ required: true, type: Object as () => FieldSettings }) settings!: FieldSettings;
  @Prop({ default: true }) readonly isSlotField!: boolean;
  @Prop({ default: false }) readonly disabled!: boolean;
  @InjectReactive() readonly formService!: FormService;

  // eslint-disable-next-line global-require
  placeholderImage = require("@/assets/default-user-image.png");
  fieldService = new FieldService();

  get fieldLabel(): string {
    return this.fieldService.getFieldLabel(this.settings);
  }

  get fieldValue(): unknown {
    return this.formService.getFieldByName(this.settings.name)?.value;
  }

  get componentName(): string {
    const name = this.settings.type;
    if (name === "text") return "TextField";
    if (name === "select") return "SelectField";
    if (name === "checkbox") return "CheckboxField";
    if (name === "image") return "ImageUploadField";
    if (name === "colorPicker") return "ColorPickerField";
    if (name === "autocomplete") return "AutocompleteField";
    return "";
  }
}
</script>
