<template>
  <v-row align="center" justify="center">
    <v-col cols="12">
      <ValidationObserver ref="form">
        <v-form :disabled="isLoading" @submit.prevent="submit">
          <v-card flat :loading="isLoading">
            <v-card-text>
              <slot name="top" />
              <v-row v-if="fields.length > 0">
                <template v-for="(field, index) in fields">
                  <div :key="index" class="col-12" :class="field.class">
                    <slot :name="`${field.name}-top`" />
                    <template v-if="field.type === 'divider'">
                      <h2>{{ field.name }}</h2>
                      <v-divider class="mt-2" />
                    </template>
                    <template v-else-if="fieldService.isVisibleByFormActionType(type, field)">
                      <FormField :is-slot-field="false" :settings="field" />
                    </template>
                    <slot :name="`${field.name}-bottom`" />
                  </div>
                  <template v-if="field.children">
                    <template v-for="childField in field.children">
                      <div :key="childField.name" class="col-12" :class="childField.class">
                        <FormField
                          v-if="
                            field.name &&
                            fieldService.isShowOnParentValueEqual(localModel[field.name], childField) &&
                            fieldService.isVisibleByFormActionType(type, field)
                          "
                          :is-slot-field="false"
                          :settings="childField"
                          :disabled="fieldService.isDisableFieldParentValueEqual(localModel[field.name], childField)"
                        />
                      </div>
                    </template>
                  </template>
                </template>
              </v-row>
              <slot />
            </v-card-text>
            <template v-if="!isManualSubmit">
              <v-card-actions>
                <Alert v-if="error" :text="error" type="error" />
              </v-card-actions>
              <v-card-actions>
                <v-spacer />
                <v-btn large color="primary" :loading="isSubmitting" @click="submit()">
                  {{ isUpdate ? "save" : "create" }}
                </v-btn>
              </v-card-actions>
            </template>
          </v-card>
        </v-form>
      </ValidationObserver>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Vue, Prop, VModel, ProvideReactive, Watch } from "vue-property-decorator";
import { VForm, VRow, VCol, VCard, VCardText, VCardTitle, VCardActions, VSpacer, VDivider, VBtn } from "vuetify/lib";
import { ActionOptions, Actions, FieldSettings, FormModel, Serializers } from "@/types/form";
import { ValidationObserver } from "vee-validate";
import FormService from "@/utils/form-service";
import FieldService from "@/utils/field-service";
import Repository from "@/utils/repository";
import { VeeValidate } from "@/types/vee-validate";
import Notification from "@/types/notification";
import Alert from "./alert.vue";
import FormField from "./field.vue";

@Component({
  components: {
    Alert,
    ValidationObserver,
    FormField,
    VForm,
    VRow,
    VCol,
    VCard,
    VCardText,
    VCardTitle,
    VCardActions,
    VSpacer,
    VDivider,
    VBtn,
  },
})
// @Vuese
export default class ByggForm extends Vue {
  @VModel({ required: false, type: Object as () => FormModel }) model!: FormModel;
  @Prop({ type: Array as () => FieldSettings[], default: () => [] }) fields!: FieldSettings[];
  @Prop({ required: true }) readonly type!: ActionOptions;
  @Prop({ required: true }) readonly actions!: Actions;
  @Prop({ required: true }) readonly serializers!: Serializers;
  @Prop({ default: null }) readonly error!: string | null;
  @Prop({ default: "Model" }) readonly modelName!: string | null;
  @Prop({ default: null }) readonly redirectRoute!: string | null;
  @Prop({ default: null }) readonly manualSubmit!: boolean | string;
  @Prop({ default: null }) readonly manualModelFetch!: boolean | string;

  @ProvideReactive() formService = new FormService();

  isLoading = false;
  isSubmitting = false;
  fieldService = new FieldService();
  repository = new Repository();
  localModel: FormModel = {};

  async mounted(): Promise<void> {
    this.repository.setSerializers(this.serializers);
    this.repository.setActions(this.actions);

    if (this.type === "update") {
      this.isLoading = true;
      await this.formService.fetchModel(this.$route.params.id, this.repository);
      this.isLoading = false;
    }
  }

  get serviceFields(): FieldSettings[] {
    return this.formService.fields;
  }

  @Watch("serviceFields")
  onServiceFieldsChange(): void {
    const serializedModel = this.formService.getSerializedModel();
    this.$emit("input", serializedModel);
    this.localModel = serializedModel;
  }

  get isUpdate(): boolean {
    return this.type === "update";
  }

  get isManualSubmit(): boolean {
    return this.manualSubmit === "" || this.manualSubmit === true;
  }

  get isManualModelFetch(): boolean {
    return this.manualSubmit === "" || this.manualSubmit === true;
  }

  validateForm(): Promise<boolean> {
    return (this.$refs.form as unknown as VeeValidate).validate();
  }

  resetForm(): void {
    (this.$refs.form as unknown as VeeValidate).reset();
  }

  notify(notification: Notification): void {
    this.$notify({
      group: "alerts",
      duration: notification.type === "error" ? -1 : 3000,
      ...notification,
    });
  }

  finishPromise(success = true, res?: any): void {
    this.isLoading = false;
    if (!success && res?.response?.data?.message) {
      this.notify({
        type: "error",
        text: res?.response?.data?.message ?? "Something went wrong!",
      });
      return;
    }
    this.notify({ type: "success", text: `${this.modelName} updated` });
    this.resetForm();
    if (this.redirectRoute) {
      this.$router.push({ name: this.redirectRoute });
    }
  }

  async submit(): Promise<void> {
    const isValid = await this.validateForm();
    if (!isValid) return;

    const model = this.formService.getSerializedModel();
    this.isLoading = true;

    if (this.isUpdate) {
      this.repository
        .update(this.$route.params.id, model)
        .then(() => this.finishPromise())
        .catch((err) => this.finishPromise(false, err));
      return;
    }
    this.repository
      .create(model)
      .then(() => this.finishPromise())
      .catch((err) => this.finishPromise(false, err));
  }
}
</script>
