<template>
  <v-autocomplete
    v-model="field.value"
    :item-text="field.itemText ? field.itemText : 'name'"
    :item-value="field.itemValue ? field.itemValue : 'id'"
    :items="mergedFieldItems"
    :loading="isLoading"
    :multiple="field.multiple ? true : false"
    :disabled="isLoading || disabled"
    :label="fieldLabel"
    :error-messages="errors"
    :style="{ width: field.fieldWidth }"
    outlined
    :menu-props="{ bottom: true, offsetY: true }"
    @input="setFieldValue"
  >
  </v-autocomplete>
</template>

<script lang="ts">
import FieldExtension from "@/lib-components/fields/field-extension";
import { Component } from "vue-property-decorator";
import { VSelect, VAutocomplete } from "vuetify/lib";
/* eslint-disable global-require */
/* eslint-disable import/no-unresolved */

@Component({
  components: { VSelect, VAutocomplete },
})
export default class AutocompleteField extends FieldExtension {}
</script>
