<template>
  <v-checkbox
    v-model="field.value"
    :label="fieldLabel"
    :error-messages="errors"
    :disabled="isLoading || disabled"
    :false-value="false"
    :true-value="true"
    :style="{ width: field.fieldWidth }"
    outlined
    @change="setFieldValue"
  >
  </v-checkbox>
</template>

<script lang="ts">
import FieldExtension from "@/lib-components/fields/field-extension";
import { Component } from "vue-property-decorator";
import { VCheckbox } from "vuetify/lib";

@Component({
  components: { VCheckbox },
})
export default class Checkbox extends FieldExtension {}
</script>
