<template>
  <v-text-field
    v-model="field.value"
    v-mask="colorPickerMask"
    class="ma-0 pa-0"
    :style="{ width: field.fieldWidth }"
    outlined
    :disabled="isLoading || disabled"
    :label="fieldLabel"
    :error-messages="errors"
    @input="setFieldValue"
  >
    <template #append>
      <v-menu v-model="colorPickerMenu" top nudge-bottom="105" nudge-left="16" :close-on-content-click="false">
        <template #activator="{ on }">
          <div :style="getSwatchStyle(fieldValue, colorPickerMenu)" v-on="on" />
        </template>
        <v-card>
          <v-card-text class="pa-0">
            <v-color-picker v-model="field.value" mode="hexa" flat @input="setFieldValue" />
          </v-card-text>
        </v-card>
      </v-menu>
    </template>
  </v-text-field>
</template>

<script lang="ts">
import FieldExtension from "@/lib-components/fields/field-extension";
import { Component } from "vue-property-decorator";
import { VCard, VCardText, VMenu, VColorPicker, VTextField, VCheckbox } from "vuetify/lib";
import { mask } from "vue-the-mask";

@Component({
  components: { VTextField, VMenu, VCard, VCardText, VColorPicker, VCheckbox },
  directives: { mask },
})
export default class ColorPickerField extends FieldExtension {
  colorPickerMenu = false;
  colorPickerMask = "!#XXXXXXXX";

  getSwatchStyle(color: string | unknown, menu: boolean): Record<string, unknown> {
    return {
      backgroundColor: color,
      cursor: "pointer",
      height: "30px",
      width: "30px",
      borderRadius: menu ? "50%" : "4px",
      transition: "border-radius 200ms ease-in-out",
    };
  }
}
</script>
