<template>
  <div>
    <v-file-input v-show="false" :ref="`image-input-${field.name}`" v-model="field.value" @input="setFieldValue" />
    <div class="is-clickable">
      <v-img :src="previewImage" max-height="200px" contain @click="openImageInput()" />
    </div>
    <v-btn
      :disabled="isLoading || disabled"
      :class="{ 'error has-border-1': errors[0] }"
      small
      elevation="0"
      block
      tile
      @click="openImageInput()"
    >
      Change {{ field.label ? field.label : "picture" }}
    </v-btn>
    <div v-if="errors[0]" class="error--text mt-2 d-flex justify-center">
      {{ field.label ? field.label : "Picture" }} is required.
    </div>
  </div>
</template>

<script lang="ts">
import FieldExtension from "@/lib-components/fields/field-extension";
import { Component } from "vue-property-decorator";
import { VFileInput, VBtn, VImg } from "vuetify/lib";
/* eslint-disable global-require */
/* eslint-disable import/no-unresolved */

@Component({
  components: { VFileInput, VBtn, VImg },
})
export default class ImageUploadField extends FieldExtension {
  placeholderImage = require("@/assets/default-user-image.png");

  get previewImage(): string {
    if (!this.field.value) return this.placeholderImage;
    return URL.createObjectURL(this.field.value);
  }

  openImageInput(): void {
    const refName = `image-input-${this.field.name}`;
    // @ts-expect-error TODO: fix type definition
    this.$refs[refName].$refs.input.click();
  }
}
</script>
