<template>
  <v-text-field
    v-model="field.value"
    :disabled="isLoading || disabled"
    :label="fieldLabel"
    :error-messages="errors"
    :style="{ width: field.fieldWidth }"
    outlined
    @input="setFieldValue"
  ></v-text-field>
</template>

<script lang="ts">
import FieldExtension from "@/lib-components/fields/field-extension";
import { Component } from "vue-property-decorator";
import { VTextField } from "vuetify/lib";

@Component({
  components: { VTextField },
})
export default class TextField extends FieldExtension {}
</script>
